<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- for HTML5 -->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Sse测试文档</title>

    <script>
        var source = new EventSource('http://localhost:8080/sse/subscribe?id=abc2');
        source.onmessage = function (event) {
            text = document.getElementById('result').innerText;
            text += '\n' + event.data;
            document.getElementById('result').innerText = text;
        };
        <!-- 添加一个开启回调 -->
        source.onopen = function (event) {
            text = document.getElementById('result').innerText;
            text += '\n 开启: ';
            console.log(event);
            document.getElementById('result').innerText = text;
        };
    </script>
</head>
<body>
<div>sse 测试</div>
<div id="result"></div>

</body>
</html>

