<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


</body>
<script>
    //记录加载次数
    var time=1;
    if (typeof (EventSource) !== "undefined") {
        var source = new EventSource("/sse/start?clientId=111");
        console.log(source);
        source.addEventListener("事件名", function(e) {
            document.getElementById("result").innerHTML = e.data;
        }, false);//使用false表示在冒泡阶段处理事件，而不是捕获阶段。
    } else {
        document.getElementById("result").innerHTML = "抱歉，你的浏览器不支持 server-sent 事件...";
    }
</script>
</html>